#box {
width: 250px;
height: 250px;
background-color: white;
border-style: solid;
border-color: black;
border-width: 1px;
};

#page {
width: 3000px;
height: 3000px;
background-color: purple;
};