h1 {
    color: blue;
    font-family: Georgia;
    text-align: center;
  }

h2 {
color: green;
  }  

* {
background-color: #E0FFFF;
}

h2 {
  font-family: Georgia;
  text-align: center;
}

p {
  line-height: 20px;
}

p strong {
  color: #f08080;
}

a, u {
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

 #link {
  text-transform: uppercase;
}

img {
  float: left;
  margin: 25px 10px;
}